<a href="https://colab.research.google.com/github/MisGall10/Practica_14_Misael_Gallardo/blob/main/Practica14MAGC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Practica # 14. Limpieza y Transformación de Datos Categóricos**

El objetivo de esta actividad es que los estudiantes practiquen los temas vistos de limpieza y transformación de datos categóricos.

**Instrucciones:**

1. Descarga el archivo CSV, nls97, proporcionado en esta tarea. También lo puedes encontrar en recursos.
2. Crea un notebook en colab y guarda el archivo csv descargado en tu drive.
3. Agrega secciones en el colab poniendo como título el nombre de cada ejercicio

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

---

**Ejercicio 01: Errores Tipográficos y Valores Inconsistentes: maritalstatus**

1. Imprime de la columna 'maritalstatus' los valores únicos.
2. Imprime la frecuencia de cada valor único
3. Cambia el valor 'Never-Married' a 'Single'
4. Imprime la frecuencia de cada valor único.

In [21]:
#Importamos la libreria pandas y asignamos un alias
import pandas as pd
#Cargamos el dataframe con ayudad de la libreria
df = pd.read_csv('/content/drive/MyDrive/ClassFiles/Programacion/Unidad02/nls97.csv')
#Imprimmos de la columna 'maritalstatus' los valores unicos
print('Valores unicos en maritalstatus (Estado marital):')
print(df['maritalstatus'].unique())
print('\n')
#Imprimos la frecuencia de cada valor unico
print('Frecuencia de datos en maritalstatus (Estado marital) antes de la modificacion:')
print(df['maritalstatus'].value_counts())
print('\n')
#Cambiamos el valor de 'Never-married' a 'Single'
df['maritalstatus'] = df['maritalstatus'].replace({'Never-married': 'Single'})
#Imprimomos la frecuencia de cada valor unico
print('Frecuencia de datos en maritalstatus (Estado marital) despues de la modificacion:')
print(df['maritalstatus'].value_counts())

Valores unicos en maritalstatus (Estado marital):
['Married' 'Never-married' nan 'Divorced' 'Separated' 'Widowed']


Frecuencia de datos en maritalstatus (Estado marital) antes de la modificacion:
maritalstatus
Married          3066
Never-married    2766
Divorced          663
Separated         154
Widowed            23
Name: count, dtype: int64


Frecuencia de datos en maritalstatus (Estado marital) despues de la modificacion:
maritalstatus
Married      3066
Single       2766
Divorced      663
Separated     154
Widowed        23
Name: count, dtype: int64

---
**Ejercicio 02: Errores Tipográficos y Valores Inconsistentes: highestdegree.**

1. Imprime de la columna 'highestdegrees' los valores únicos.
2. Imprime la frecuencia de cada valor único
3. Observa que cada valor categórico empieza con 0. Modifica las categorías para que todas estén en minúsculas y ninguna empiece con un número. Por ejemplo, si dice "2. High School", debería ser 'high school.
3. Los cambios se realizarán en la misma columna 'highestdegrees'.
4. Imprime los nuevos valores únicos.

In [22]:
#Imprimos de la columna 'highestdegree' los valores unicos
print('Valores unicos en highestdegree (Grado de estudios):')
print(df['highestdegree'].unique())
print('\n')
#Imprimos la frecuencia de cada valor unico
print('Frecuencia de datos en highestdegree (Grado de estudios) antes de la modificacion:')
print(df['highestdegree'].value_counts())
print('\n')
#Realizamos los cambios para borrar el indice de la cada categoria, asi como
#hacer todos en minusculas (Todo en la misma columna 'highestdegree)
df['highestdegree'] = df['highestdegree'].str.replace('^\d+\.', '', regex=True).str.lower()
#Impriimos los nuevos valores unicos
print('Valores unicos en highestdegree (Grado de estudios) despues de la modificacion:')
print(df['highestdegree'].unique())
print('\n')
#Imprimos la frecuencia de cada valor unico
print('Frecuencia de datos en highestdegree (Grado de estudios) despues de la modificacion:')
print(df['highestdegree'].value_counts())

Valores unicos en highestdegree (Grado de estudios):
['2. High School' '0. None' '4. Bachelors' '3. Associates' '5. Masters'
 '1. GED' '7. Professional' '6. PhD' nan]


Frecuencia de datos en highestdegree (Grado de estudios) antes de la modificacion:
highestdegree
2. High School     3667
4. Bachelors       1673
1. GED             1146
0. None             953
3. Associates       737
5. Masters          603
7. Professional     120
6. PhD               54
Name: count, dtype: int64


Valores unicos en highestdegree (Grado de estudios) despues de la modificacion:
[' high school' ' none' ' bachelors' ' associates' ' masters' ' ged'
 ' professional' ' phd' nan]


Frecuencia de datos en highestdegree (Grado de estudios) despues de la modificacion:
highestdegree
high school     3667
bachelors       1673
ged             1146
none             953
associates       737
masters          603
professional     120
phd               54
Name: count, dtype: int64

---

**Ejercicio 03: Alta Cardinalidad - Frecuencias Bajas**

* De la columna 'maritalstatus' une las categorías Widowed y 'Single' en una categoría más general llamada 'Single/No Partner'. Crea una nueva columna, 'marital_grouped' donde aparezcan las nuevas categorías de maritalstatus.
* Imprime los valores únicos de la nueva columna 'marital_grouped'.
* Imprime la frecuencia de los valores únicos de la nueva columna 'marital_grouped'

In [24]:
#De la columna 'maritalstatus' unimos la categorias 'Widowe' y 'Single en una
#categorai mas general llamada 'Single/No partner, creando una nueva columna
#'marital_grouped' donde apareceran las nuevas categorias de 'marital_staus´
df['marital_grouped'] = df['maritalstatus'].replace({'Widowed': 'Single/No Partner', 'Single': 'Single/No Partner'})
#Imprimimos los valores unicos de la nueva columna 'marital_grouped'
print('Valores unicos en marital_grouped:')
print(df['marital_grouped'].unique())
print('\n')
#Imprimos la frecuencia de los valores unicos de la nueva columna 'marital_grouped'
print('Frecuencia de datos en marital_grouped:')
print(df['marital_grouped'].value_counts())

Valores unicos en marital_grouped:
['Married' 'Single/No Partner' nan 'Divorced' 'Separated']


Frecuencia de datos en marital_grouped:
marital_grouped
Married              3066
Single/No Partner    2789
Divorced              663
Separated             154
Name: count, dtype: int64

---

**Ejercicio 04: Tipos de Datos**

* Imprime el tipo de datos de la columna gender
* Imprime la cantidad de bytes de dicha columna
* Si la columna es de tipo object, modifica a category.
* En caso de haber realizado la modificación del tipo de datos, imprime la cantidad de bytes que ocupa dicha columna con el nuevo tipo de datos

In [27]:
#Imprimos el tipo de datos de la columna 'gender'
print('Tipo de datos de la columna gender:')
print(df['gender'].dtype)
print('\n')
#Imprimos la cantidad de bytes de la columna
print('Cantidad de bytes de la columna gender antes de la modificacion:')
print(df['gender'].memory_usage(deep=True))
print('\n')
#Modificamos el tipo de dato de object a category
df['gender'] = df['gender'].astype('category')
#Imprimimos la cantidad de bytes de la columna
print('Cantidad de bytes de la columna gender despues de la modificacion:')
print(df['gender'].memory_usage(deep=True))

Tipo de datos de la columna gender:
object


Cantidad de bytes de la columna gender antes de la modificacion:
556926


Cantidad de bytes de la columna gender despues de la modificacion:
9348